* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #ffffff;
        font-family: serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient( to right bottom, #1a1d21, #1f2125, #242428, #28282c, #2d2c2f);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;
}

.title {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 2rem;
    font-weight: 700;
}

p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.5rem;
    line-height: 0.05rem;
    padding: 0 1rem;
    margin: 2rem 0;
}

.mb_outside {
    width: 300px;
    height: 300px;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    box-shadow: 10px 10px 30px rgb(13,15,12), -10px -10px 30px #585757;
    position: relative;
    cursor: pointer;
}

.mb_inside {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.mb_response {
    text-align: center;
    font-size: 8rem;
    color: #222222;
    line-height: 1.2rem;
}

.mb_center {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 5px;
    border-radius: 50%;
    background-color: #333333;
    opacity: 0.2;
}

.mb_bg_shadow {
    position: absolute;
    width: 175px;
    height: 175px;
    top: 0px;
    border-radius: 50%;
    background-color: #666666;
    opacity: 0.2;
}

.mb_upper_shadow {
    position: absolute;
    width: 75px;
    height: 50px;
    top: 5px;
    background-color: #666666;
    opacity: 0.8;
    border-radius: 50%;
}


.mb_lower_shadow {
    position: absolute;
    width: 175px;
    height: 175px;
    top: 5px;
    background-color: #2a2727;
    opacity: 0.8;
    border-radius: 50%;
}

.animate {
    animation-name: shake;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes shake {
    0% { transform: translate(0,0) rotate(0deg) scale(1.1, 1.1);}
    10% { transform: translate(10px,10px) rotate(30deg) scale(1.3, 1.3);}
    20% { transform: translate(0,0) rotate(0deg) scale(1.1, 1.1);}
    30% { transform: translate(-10px,10px) rotate(-30deg) scale(1.5, 1.5);}
    40% { transform: translate(0,0) rotate(0deg) scale(1.2, 1.2);}
    50% { transform: translate(-10px,10px) rotate(45deg) scale(1.6, 1.6);}
}